:local(.root) {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 992px) {
  :local(.root) {
    /*max-width: 900px;*/
  }
}

@media (min-width: 1200px) {
  :local(.root) {
    max-width: 1200px;
  }
}
