:local(.root) {

}

:local(.item) {
  margin-bottom: .75rem;

  &:last-child {
    margin-bottom: 0;
  }
}

:local(.link) {
  display: flex;
  align-items: center;
  color: #CBEBFB;

  &:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
}

:local(.icon) {
  margin-right: .5rem;
  color: var(--color-white);
}
