:local(.root) {
  padding: 1.0675rem 1rem 0.9325rem;
  text-align: center;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: var(--color-black);
  border-radius: 4px;
  background-color: var(--color-secondary);

  &:hover {
    opacity: .8;
  }
}
