:local(.root) {
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
  border-radius: 4px;
  background-color: var(--color-secondary);

  &:hover {
    opacity: .8;
  }
}
