:local(.root) {
  display: flex;
  justify-content: center;

  &:hover {
    opacity: .8;
  }

  @media (min-width:768px) {
    justify-content: flex-start;
  }

  &:local(.isFooter) {
    :local(.text) {
      margin-left: .75rem;
      padding-top: .75rem;
    }

    :local(.title) {
      font-size: 24px;
      letter-spacing: initial;
      color: var(--color-primary);
    }

    :local(.subtitle) {
      font-size: 8px;
      color: var(--color-primary);
    }

    :local(.img) {
      width: 66px;
    }
  }
}

:local(.img) {

}

:local(.text) {
  margin-left: 1rem;
}

:local(.title) {
  display: block;
  margin-bottom: .25rem;
  font-size: 48px;
  line-height: 1;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--color-artelx);
}

:local(.subtitle) {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--color-gray-dark);
}
