:root {
  --color-base: #494949;
  --color-artelx: #1A68A4;

  --color-link: #00B5CC;
  --color-link-hover: #007FA3;
  --color-active: #FF0000;

  --color-primary: #19C1ED;
  --color-secondary: #FFDF39;
  --color-tertiary: #A7E5E0;

  --color-black: #000;
  --color-white: #FFF;

  --color-gray-dark: #2F2D44;
  --color-gray-light: #EEE;

  --spacer: 1.5rem;
}

body {
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
    border-radius: 4px;
    box-shadow: 1px 1px 10px var(--color-artelx);
  }
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 var(--spacer);
  font-weight: 700;
}

p {
  margin: 0 0 var(--spacer);
}

blockquote {
  margin: 0 0 var(--spacer);
  padding: 0.5rem 0 0.5rem 1rem;
  border-left: 4px solid var(--color-primary);
}

cite {
  /* */
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

table {
  border: 1px solid var(--color-primary);
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

.alignleft > table {
  margin: 0;
}

.alignright > table {
  margin: 0;
}

th,
td {
  margin: 0;
  overflow: visible;
  padding: 0.5rem;
  border: 1px solid var(--color-primary);
}

caption {
  background: #dcd7ca;
  font-weight: 700;
  padding: 0.5em;
  text-align: center;
}

thead {
  vertical-align: bottom;
  white-space: nowrap;
}

th {
  font-weight: 700;
}
