:root {
  --color-base: #494949;
  --color-artelx: #1A68A4;

  --color-link: #00B5CC;
  --color-link-hover: #007FA3;
  --color-active: #FF0000;

  --color-primary: #19C1ED;
  --color-secondary: #FFDF39;
  --color-tertiary: #A7E5E0;

  --color-black: #000;
  --color-white: #FFF;

  --color-gray-dark: #2F2D44;

  --spacer: 15px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
  }
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 700;
}

p {
  margin: 0 0 15px;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}
