:local(.root) {

}

:local(.item) {
  position: relative;
  padding: 20px 0;
  min-height: 480px;
  display: block;
  text-decoration: none;
  color: #000;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

:local(.content) {
  position: relative;
  z-index: 2;
}

:local(.img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
