:local(.root) {
  padding: 20px 0;
}

:local(.container) {
  @media (min-width:768px) {
    display: flex;
    justify-content: space-between;
  }
}

:local(.logoWrapper) {
  margin-bottom: 2rem;

  @media (min-width:768px) {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

:local(.info) {
  margin-bottom: 2rem;
  text-align: center;

  @media (min-width:768px) {
    margin-bottom: 0;
    margin-left: auto;
    text-align: right;
  }
}

:local(.email) {
  display: block;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  color: var(--color-active);

  &:hover {
    color: var(--color-link-hover);
  }

  @media (min-width:768px) {
    font-size: 1rem;
  }
}

:local(.phone) {
  display: block;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-active);
  white-space: nowrap;

  &:hover {
    color: var(--color-link-hover);
  }

  @media (min-width:768px) {
    font-size: 1rem;
  }
}

:local(.actions) {
  @media (min-width:768px) {
    margin-left: 1rem;
  }
}

:local(.btn) {
  width: 100%;
}
