:local(.root) {
  padding: 40px 0;
}

:local(.title) {
  text-align: center;
}

:local(.list) {
  position: relative;
}

:local(.btn) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  &:local(.prev) {
    left: 0;
  }

  &:local(.next) {
    right: 0;
  }
}

:local(.item) {
  @media (min-width: 768px) {
    display: flex;
  }
}

:local(.aside) {
  text-align: center;
  color: #000;

  @media (min-width: 768px) {
    flex: 0 0 250px;
  }
}

:local(.name) {
  text-transform: uppercase;
  margin-bottom: 15px;
}

:local(.content) {
  color: #2F2D44;

  @media (min-width: 768px) {
    flex: 1 1 auto;
    max-width: calc(100% - 250px);
    padding-left: 20px;
  }
}
