:local(.root) {
  @media (max-width:767px) {
    position: fixed;
    padding: 2rem 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-gray-dark);
    z-index: 8;
  }

  @media (min-width:768px) {
    text-align: right;
  }
}

:local(.logoWrapper) {
  @media (max-width:767px) {
    margin-bottom: 1rem;
  }

  @media (min-width:768px) {
    display: none;
  }
}

:local(.nav) {

}

:local(.list) {
  @media (min-width:768px) {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

:local(.item) {
  @media (min-width:768px) {
    margin-left: 1.5rem;
    padding: .5rem 0;
  }
}

:local(.link) {
  @media (max-width:767px) {
    display: block;
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--color-white);

    &:hover {
      color: var(--color-primary);
    }
  }

  @media (min-width:768px) {
    padding: 3px 2px;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--color-base);
    border-bottom: 4px solid transparent;

    &:hover {
      color: var(--color-active);
    }
  }


  &:local(.isActive) {
    @media (min-width:768px) {
      color: var(--color-active);
      border-color: var(--color-primary);
    }
  }
}
