:local(.root) {
  margin-bottom: 2rem;

  @media (min-width:768px) {
    margin-bottom: 3.75rem;
    text-align: right;
  }
}

:local(.nav) {

}

:local(.list) {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

:local(.item) {
  margin-left: 1.5rem;
  padding: .5rem 0;
}

:local(.link) {
  padding: 3px 2px;
  font-size: 1.125rem;
  color: var(--color-base);
  border-bottom: 4px solid transparent;

  &:hover {
    color: var(--color-active);
  }

  &:local(.isActive) {
    color: var(--color-active);
    border-color: var(--color-primary);
  }
}
